.home_Container{
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url('../src/assets/Images/weather_home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.input_class{
  width: 500px;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 16px;
}

.detail_homeScreen{
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url("../src/assets/Images/weather_detail.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}